<nav class="navbar navbar-dark mb-5">
  <a mat-button class="navbar-brand" href="/">Equation breaker</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a mat-button class="nav-item nav-link" routerLink="home">Home</a>
      <a mat-button class="nav-item nav-link" routerLink="about">About</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a mat-button class="nav-item nav-link" [href]="urlGitHub" target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</nav>
