<div>
  <div class="row">
    <h1>Welcome to Equation breaker</h1>
  </div>
  <div class="row">
    <p class="lead">
      Enter a value in the following area to automatically generate a complex
      equation which leads to this number.
    </p>
  </div>
  <div class="row">
    <span class="col">
      <mat-form-field>
        <input
          matInput
          id="unknownValue"
          placeholder="Ex: 123"
          [(ngModel)]="unknownValue"
          onlyDigit
        />
      </mat-form-field>
    </span>
    <span class="col">
      <button class="btn btn-primary" (click)="onCalculationClick()">
        Process
      </button>
    </span>
    <span class="col">
      <input
        type="checkbox"
        id="cbMathml"
        [(ngModel)]="isMathml"
        class="checkbox"
      />
      <label for="cbMathml"> Enable MathML render</label>
    </span>
  </div>
  <div class="row equation-box">
    <div id="texEquation">
      <ng-katex [equation]="result" [options]="options"></ng-katex>
    </div>
  </div>
  <div [hidden]="result === null" class="row downloadBox">
    <mat-button-toggle-group
      (change)="onImgTypeChange($event.value)"
      value="jpg"
    >
      <mat-button-toggle value="jpg">
        JPG
      </mat-button-toggle>
      <mat-button-toggle value="png">
        PNG
      </mat-button-toggle>
      <mat-button-toggle value="svg">
        SVG
      </mat-button-toggle> </mat-button-toggle-group
    ><br />
    <button
      type="submit"
      id="saveAs"
      class="btn btn-success"
      (click)="onSaveAsClick()"
    >
      <i class="fas fa-download"></i>
      Download
    </button>
  </div>
</div>
