<div class="jumbotron">
  <div>
    <h1>Welcome to Equation breaker</h1>
    <p class="lead">
      Enter a value in the following area to automatically generate a complex
      equation which leads to this number.
    </p>
  </div>
  <div>
    <input
      type="text"
      id="unknownValue"
      [(ngModel)]="unknownValue"
      onlyDigit
    /><br />
    <button class="btn btn-primary" (click)="onCalculationClick()">
      Process
    </button>
    <input
      type="checkbox"
      id="cbMathml"
      [(ngModel)]="isMathml"
      class="checkbox"
    />
    <label for="cbMathml"> Enable MathML render</label><br />
  </div>
  <div class="equation-box">
    <div id="texEquation">
      <ng-katex [equation]="result" [options]="options"></ng-katex>
    </div>
  </div>
  <div [hidden]="result === null"
      class="downloadBox">
    <mat-button-toggle-group
      (change)="onImgTypeChange($event.value)"
      value="jpg"
    >
      <mat-button-toggle value="jpg">
        JPG
      </mat-button-toggle>
      <mat-button-toggle value="png">
        PNG
      </mat-button-toggle>
      <mat-button-toggle value="svg">
        SVG
      </mat-button-toggle> </mat-button-toggle-group
    ><br />
    <button
      type="submit"
      id="saveAs"
      class="btn btn-success"
      (click)="onSaveAsClick()"
    >
      <fa-icon [icon]="faDownload"></fa-icon>
      Download
    </button>
  </div>
</div>
