<div>
  <div class="row">
    <h1>Welcome to Equation breaker</h1>
  </div>
  <div class="row">
    <p class="lead">
      Enter a value in the following area to automatically generate a complex
      equation which leads to this number.
    </p>
  </div>

  <div class="row">
    <span class="col elem-center">
      <mat-form-field>
        <input
          matInput
          id="unknownValue"
          placeholder="Ex: 123"
          [(ngModel)]="unknownValue"
          onlyDigit
        />
      </mat-form-field>
    </span>
    <span class="col elem-center">
      <button mat-raised-button color="primary" (click)="onCalculationClick()">
        Process
      </button>
    </span>
    <span class="col elem-center">
      <mat-slide-toggle id="cbMathml" color="primary" [(ngModel)]="isMathml">
        Enable MathML render
      </mat-slide-toggle>
    </span>
  </div>

  <div [hidden]="result === null" class="row equation-box elem-center">
    <span id="texEquation" class="center-me">
      <mat-card>
        <ng-katex [equation]="result" [options]="options"></ng-katex>
      </mat-card>
    </span>
  </div>

  <div [hidden]="result === null" class="download-box elem-center">
    <span class="content elem-center">
      <mat-button-toggle-group
        (change)="onImgTypeChange($event.value)"
        value="jpg"
      >
        <mat-button-toggle value="jpg">
          JPG
        </mat-button-toggle>
        <mat-button-toggle value="png">
          PNG
        </mat-button-toggle>
        <mat-button-toggle value="svg">
          SVG
        </mat-button-toggle>
      </mat-button-toggle-group></span
    >
    <span class="content">
      <button
        id="saveAs"
        mat-raised-button
        color="accent"
        (click)="onSaveAsClick()"
      >
        <i class="fas fa-download"></i>
        Download
      </button>
    </span>
  </div>
</div>
